{% comment %}
  This is the student dashboard course card.
{% endcomment %}

<section class="course-card course-card__dashboard">
  {% if card.image.medium != blank %}
  {% assign product_image = card.image.medium %}
  {% else %}
  {% assign product_image = card.image.original %}
  {% endif %}
  <header class="course-card__img">
    <a href="{{ card.resume_course_url }}" tabindex="0">
      <img class="course-card__img-container" src="{{ product_image }}" alt="{{ card.name_truncated }}" />
    </a>
  </header>
  <a class="course-card__course-link" href="{{ card.resume_course_url }}" tabindex="0" aria-label="{{ card.name_truncated }}">
    <article class="course-card__body">
        <section class="course-card__progress course-card__progress--circle" data-progress="{{ card.progress_percentage }}">
          <span class="circle">
            <span class="mask full">
              <span class="fill"></span>
            </span>
            <span class="mask half">
              <span class="fill"></span>
              <span class="fill fix"></span>
            </span>
            <span class="progress__percentage">
              {{ card.progress_percentage }}%
            </span>
          </span>
        </section>
        <h2 class="course-card__title">{{ card.name_truncated }}</h2>
    </article>
  </a>
  <footer class="course-card__details">
    <a href="{{ card.landing_page_url }}" class="course-card__overview" tabindex="0">
      {{ 'liquid.partials.dashboard_course_card.link_see_overview' | translate }}
    </a>
    {% if card.progress_percentage == 100 %}
      {% if card.course_reviews_enabled %}
        <a href="{{ card.course_review_url }}" class="course-card__rate" tabindex="0">
          {{ 'liquid.partials.dashboard_course_card.link_rate_course' | translate }}
        </a>
      {% else %}
        <a href="{{ card.resume_course_url }}" class="course-card__resume" tabindex="0">
          {{ 'liquid.partials.dashboard_course_card.link_replay_course' | translate }}
        </a>
      {% endif %}
    {% else %}
      <a href="{{ card.resume_course_url }}" class="course-card__resume" tabindex="0">
        {% if card.progress_percentage == 0 %}
          {{ 'liquid.partials.dashboard_course_card.link_start_course' | translate }}
        {% elsif card.progress_percentage > 0 and card.progress_percentage < 100 %}
          {{ 'liquid.partials.dashboard_course_card.link_resume_course' | translate }}
        {% else %}
          {{ 'liquid.partials.dashboard_course_card.link_replay_course' | translate }}
        {% endif %}
      </a>
    {% endif %}
  </footer>
</section>
