{% if section.settings.social_icon != blank and section.settings.social_link != blank %}
  {% assign social_link = true %}
{% endif %}
{% if section.settings.social_icon_2 != blank and section.settings.social_link_2 != blank %}
  {% assign social_link_2 = true %}
{% endif %}
{% if section.settings.social_icon_3 != blank and section.settings.social_link_3 != blank %}
  {% assign social_link_3 = true %}
{% endif %}
<section class="banner
{% include 'section_utility_background' %}
{% include 'section_utility_content_alignment' %}
{% include 'section_utility_height_preset' %}
{% include 'section_utility_has_additional_prices' %}
{% include 'section_utility_has_free_trial' %}
{% include 'section_utility_has_social' %}
{% include 'section_utility_has_video' %}" data-preview-item="banner">
  <div class="banner__container">
    <div class="banner__wrapper">
      {% if social_link or social_link_2 or social_link_3 %}
        <section class="section__social-nav">
          <ul class="social-nav__list">
            {% if social_link %}
              <li class="social-nav__list-item"><a href="{{ section.settings.social_link }}" target="_blank"><i class="fa {{ section.settings.social_icon }}"></i></a></li>
            {% endif %}
            {% if social_link_2 %}
              <li class="social-nav__list-item"><a href="{{ section.settings.social_link_2 }}" target="_blank"><i class="fa {{ section.settings.social_icon_2 }}"></i></a></li>
            {% endif %}
            {% if social_link_3 %}
              <li class="social-nav__list-item"><a href="{{ section.settings.social_link_3 }}" target="_blank"><i class="fa {{ section.settings.social_icon_3 }}"></i></a></li>
            {% endif %}
          </ul>
        </section>
      {% endif %}
      <article class="section__content">
        {% if section.settings.heading != blank or section.settings.subheading != blank %}
          <header class="section__headings section__headings--reverse">
            {% if section.settings.heading != blank %}
              <h1 class="section__heading">{{ section.settings.heading }}</h1>
            {% endif %}
            {% if section.settings.subheading != blank %}
              <h2 class="section__subheading">{{ section.settings.subheading }}</h2>
            {% endif %}
          </header>
        {% endif %}
        {% if section.blocks != empty %}
          <section class="section__button-group">
            {% for block in section.blocks %}
              <a class="button button-{{ block.settings.button_type }}" href="{{ block.settings.button_link }}">{{ block.settings.button_text }}</a>
            {% endfor %}
            {% if page.product_is_course %}
              {% assign course = page.course %}
              {% if course.has_free_trial %}
                <a href="{{ course.links.enroll_free_trial }}" class="button{% unless course.user_can_purchase %} button-primary{% else %} button-secondary{% endunless %}">{{ 'liquid.partials.course_landing_page_action_buttons.link_free_trial' | translate }}</a>
              {% endif %}
            {% endif %}
          </section>
        {% else %}
          {% if section.settings.hide_default_buttons == false %}
            {% include 'product_action_buttons' %}
          {% endif %}
        {% endif %}
      </article>
      {% if section.settings.video.frame != blank or section.settings.video_thumbnail != blank %}
        <section class="section__video">
          <div class="section__video__wrapper">
            {% if section.settings.video.frame != blank and section.settings.video_thumbnail != blank %}
              <span class="video__play-button"></span>
            {% endif %}
            {% if section.settings.video.frame != blank and section.settings.video_thumbnail == blank %}
              {{ section.settings.video.frame }}
            {% endif %}
            {% if section.settings.video.popover != blank %}
              <section class="section__video--trigger">
                {{ section.settings.video.popover }}
              </section>
            {% endif %}
          </div>
        </section>
      {% endif %}
    </div>
  </div>
</section>

<script>
  $('.banner').find('.video__play-button').on('click', function(e) {
    $(this).siblings('.section__video--trigger').find('.btn')[0].click();
  });
</script>

{% style %}

.banner {
  {% include 'section_style_background' %}
  {% include 'section_style_content_alignment' %}
  {% include 'section_style_heading_ornament' %}

  {% if section.settings.video_thumbnail != blank %}
    .section__video:after {
      background-image: url({{ section.settings.video_thumbnail }});
      content: "";
    }
  {% endif %}

  .section__heading {
    @include screen-md-min {
      font-size: {{ section.settings.heading_size | append: 'rem' }};
    }

    font-size: ( {{ section.settings.heading_size | append: 'rem' }} / 1.25 );
  }

  .social-nav__list-item {

    a {
      color: {{ section.settings.text_color }};
    }
  }
}

{% endstyle %}

{% schema %}
{
  "label":"Banner",
  "description":"",
  "settings":[
    {
      "type":"checkbox",
      "id":"hide_default_buttons",
      "label":"Hide default buttons (product pages only)",
      "default":false
    },
    {
      "label":"Headings",
      "settings":[
        {
          "type":"text",
          "id":"heading",
          "label":"Heading",
          "default":"Banner"
        },
        {
          "type":"text",
          "id":"subheading",
          "label":"Subheading",
          "default":"Your banner contains a hero image with text overlay. You can also add call to action buttons."
        },
        {
          "type":"color",
          "id":"text_color",
          "label":"Text color override",
          "default":"#ffffff"
        },
        {
          "type":"number",
          "min":1,
          "max":9,
          "id":"heading_size",
          "default":3,
          "label":"Size",
          "description":""
        }
      ]
    },
    {
      "label":"Hero image",
      "settings":[
        {
          "type":"image",
          "id":"background_image",
          "default":"https://cdn.thinkific.com/13/20180205/b9f6367337c12ad2b139a95537cc561f.png",
          "label":"Image",
          "description":"<small>Recommended: <strong>1440px x 720px (1MB)</strong></small>"
        },
        {
          "type":"image_origin",
          "id":"background_image_origin",
          "default": "center center",
          "label":"Image focal point"
        },
        {
          "type":"color",
          "id":"overlay_color",
          "label":"Overlay color",
          "default":"#000000"
        },
        {
          "type":"number",
          "id":"overlay_opacity",
          "label":"Overlay opacity",
          "default":30,
          "min":0,
          "max":100
        }
      ]
    },
    {
      "label":"Picture-in-picture",
      "settings":[
        {
          "type":"video",
          "id":"video",
          "label":"Video",
          "description":"<small>Upload videos to your Thinkific site in the <a href='/manage/videos' target='_blank'>Video Library</a>.</small>",
          "default":{
            "id":false,
            "type":"",
            "url":"",
            "identifier":"",
            "frame":"",
            "popover":"",
            "oembed":false
          }
        },
        {
          "type":"image",
          "id":"video_thumbnail",
          "default":"https://cdn.thinkific.com/13/20180213/143ed2743d1154788b239e3da77d598a.jpg",
          "label":"Image",
          "description":"<small>Recommended: <strong>720px x 420px (1MB)</strong></small>"
        }
      ]
    },
    {
      "label":"Social links",
      "settings":[
        {
          "type":"icon",
          "id":"social_icon",
          "label":"Social icon one",
          "default":""
        },
        {
          "type":"text",
          "id":"social_link",
          "description":"<small>Copy and paste the full URL of your social media account, e.g. https://www.facebook.com/groups/thinkific/</small>",
          "label":"Link"
        },
        {
          "type":"icon",
          "id":"social_icon_2",
          "label":"Social icon two",
          "default":""
        },
        {
          "type":"text",
          "id":"social_link_2",
          "description":"<small>Leave these blank if you do not need social links.</small>",
          "label":"Link"
        },
        {
          "type":"icon",
          "id":"social_icon_3",
          "label":"Social icon three",
          "default":""
        },
        {
          "type":"text",
          "id":"social_link_3",
          "description":"<small>Leave these blank if you do not need social links.</small>",
          "label":"Link"
        }
      ]
    },
    {
      "label":"Size & alignment",
      "settings":[
        {
          "type":"select",
          "id":"section_height_preset",
          "label":"Height",
          "description":"",
          "default":"large",
          "options":[
            {
              "value":"small",
              "label":"Small"
            },
            {
              "value":"medium",
              "label":"Medium"
            },
            {
              "value":"large",
              "label":"Large"
            },
            {
              "value":"xlarge",
              "label":"Extra large"
            }
          ]
        },
        {
          "type":"radio",
          "id":"content_alignment",
          "label":"Alignment",
          "default":"left",
          "options":[
            {
              "value":"left",
              "label":"Left"
            },
            {
              "value":"center",
              "label":"Center"
            },
            {
              "value":"right",
              "label":"Right"
            }
          ]
        }
      ]
    }
  ],
  "blocks":{
    "label":"Add button",
    "limit":2,
    "types":[
      {
        "type":"banner_button",
        "label":"Button",
        "settings":[
          {
            "type":"text",
            "id":"button_text",
            "label":"Text",
            "default":"Call to action"
          },
          {
            "type":"page_picker",
            "id":"button_link",
            "label":"Link"
          },
          {
            "type":"radio",
            "id":"button_type",
            "label":"Type",
            "description":"",
            "default":"primary",
            "options":[
              {
                "value":"primary",
                "label":"Primary"
              },
              {
                "value":"secondary",
                "label":"Secondary"
              }
            ]
          }
        ]
      }
    ],
    "defaults":[]
  }
}
{% endschema %}
