<aside class="checkout__product-overview">
  <div class="checkout__product-list">
    <div class="checkout__product-list-item">
      <div class="checkout__product-details__wrapper">
        {% if page.product.image.small != blank %}
        {% assign product_image = page.product.image.small %}
        {% else %}
        {% assign product_image = page.product.image.original %}
        {% endif %}
        <img src="{{ product_image }}" alt="{{ page.product.name }}" title="{{ page.product.name }}" class="checkout__product-image" />
        <div class="checkout__product-details">
          <span class="checkout__product-name">{{ page.product.name }}</span>
          {% if page.product.productable.description != blank %}
            <span class="checkout__product-description">{{ page.product.productable.description }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <footer class="checkout__footer">
    <div class="checkout__wrapper">
      {% unless page.product.course.is_free or page.product.bundle.is_free %}
        <div class="order-security">
          <img width="94" height="30" id="secure-badge" alt="Secure Badge" src="https://assets.thinkific-staging.com/assets/tenant/defaults/secure-badge-0e958932e283b99e2c2c1313d6d011e7.png" />
          {% if page.stripe_checkout_is_allowed %}
            <img width="119" height="26" id="stripe-badge" alt="Stripe Badge" src="https://assets.thinkific-staging.com/assets/tenant/defaults/stripe-badge-210c07e73c09a37fde5c18f0ea418caa.png" />
          {% endif %}
        </div>
        {% if page.stripe_checkout_is_allowed %}
          <section class="checkout__footer-info">
            <strong><i class="fa fa-lock"></i>{{ 'liquid.partials.checkout_overview.footer_secure_checkout' | translate }}</strong>
            <p>{{ 'liquid.partials.checkout_overview.footer_powered_by_stripe' | translate }}</p>
          </section>
        {% endif %}
      {% endunless %}
      <section class="checkout__footer-help">
        <strong><i class="fa fa-question-circle"></i>{{ 'liquid.partials.checkout_overview.footer_help' | translate }}</strong>
        <p>{{ 'liquid.partials.checkout_overview.footer_need_help' | translate }} <a href="mailto:{{ site.support_email }}" target="_blank">{{ 'liquid.partials.checkout_overview.footer_contact_us' | translate }}</a>.</p>
      </section>
    </div>
  </footer>
</aside>

{% schema %}
{
  "label":"Default",
  "description":"This is a default section — the foundation of your Thinkific site.  While this section is not editable, you can customize this page by adding new sections.",
  "settings":[]
}
{% endschema %}
